/*** KERNING & LEADING ASSIGNMENT STYLES ***/

.rectangle {
  font-family: "Helvetica";
  font-size: 1em;
  font-weight: normal;
  background-color: white;
  border: solid 1px black;
  height: 300px;
  width: 800px;
  margin: 0 auto;
}

#kerning {
letter-spacing: 5px;
}

#leading {
line-height: 275%;
}

/*** TEXT ALIGNMENT ASSIGNMENT STYLES ***/

.align {
  max-width: 80%;
  margin: 1em auto;
}

#left_align {
  text-align: left;
  line-height: 180%;
}

#right_align {
  text-align: right;
  line-height: 200%;
}

#justify {
  text-align: justify;
  line-height: 200%;
}

#center {
text-align: center;
line-height: 150%;
}

/*** HIERARCHY ASSIGNMENT STYLES ***/

section {
  font-family: "Helvetica";
  font-size: 1em;
  background-color: white;
  border: solid 1px black;
  height: 560px;
  width: 560px;
  margin: 0 auto;
}

/* Do not change this style */
section p {
  font-size: 1.1em;
  margin: 2em 4em;
  max-width: 55%;
}

/* Change this style */
/* #biggerText {

} */

/* Change this style */
/* .indent {

} */

#title {
  font-size: 2em;
}

#typ {
  color: grey;
}

#paul {
  font-size: 3em;
}
