@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
@import url('https://fonts.googleapis.com/css?family=Bangers');

body {
  font-size: 1em;
  font-weight: normal;
  font-family: Arial, sans-serif;
  color: #000000; /*black*/
  text-align: left;
}

h1{
  font-size: 1.8em;
  font-weight: bold;
  color: #2066C9; /*blue*/
  text-align: center;
}

p{
  font-size: 1em;
  font-weight: normal;
  color: #4c4c4c; /*gray*/
}

nav{
  color:#000; /*black*/
  font-weight: bold;
    }

div{
  color:#000; /*black*/
  font-weight: bold;
}

.rectangle {
  background-color: black;
  border: solid 1px black;
  height: 200px;
  width: 850px;
  margin: 0 auto;
}

#quote1 {

  font-family: "Alfa Slab One";
  font-size: 2.5em;
  text-align: center;
  line-height: 50px;
}

.square {
  background-color: #CECECE;
  border: solid 1px black;
  height: 300px;
  width: 800px;
  margin: 0 auto;
}


#quote2 {

  font-family: "Bangers";
  font-size: 3.5em;
  letter-spacing: 4px;
  padding-top: 2px;
  text-align: center;
  line-height: 78px;
  text-shadow: 2px 2px #000;
}

#quote1 {
    width: 5em;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}
